In [8]:
import json
import os.path

import pandas as pd

In [9]:
def load_csv_data_mipl():
    csv_path = os.path.join("HawkeyeStats-main", "mensIPLHawkeyeStats.csv")
    return pd.read_csv(csv_path)


mipl_csv = load_csv_data_mipl()
mipl_csv.head()
mipl_csv.describe()

,matchId,ball,batterId,nonStrikerId,bowlerId,ballSpeed,runs,batterRuns,bowlerRuns,pitchX,pitchY,stumpsX,stumpsY,fieldX,fieldY
count,149424.000000,149424.000000,149424.000000,149424.000000,149424.000000,149424.00000,149424.000000,149424.000000,149424.000000,144371.000000,144371.000000,144371.000000,144371.000000,146018.000000,146018.000000
mean,8249.638385,3.490363,714.269140,716.450115,1073.608570,30.36818,1.320698,1.258419,1.296940,-0.145737,6.296524,-0.052885,0.700522,39.449698,34.352087
std,9058.740465,1.708286,1483.955077,1509.083150,1961.000075,9.80143,1.609856,1.622889,1.614204,0.803908,4.010505,0.997442,9.539914,28.865914,25.427520
min,2.000000,1.000000,1.000000,1.000000,7.000000,-1.00000,0.000000,0.000000,0.000000,-24.849000,-88.390000,-98.580000,-3318.995000,0.000000,0.000000
25%,2429.000000,2.000000,100.000000,100.000000,104.000000,25.36400,0.000000,0.000000,0.000000,-0.376000,4.655000,-0.298000,0.568000,10.000000,10.000000
50%,4087.000000,3.000000,182.000000,179.000000,217.000000,33.76300,1.000000,1.000000,1.000000,-0.180000,6.301000,-0.058000,0.713000,38.000000,34.000000
75%,11316.000000,5.000000,506.000000,503.000000,1118.000000,37.49200,1.000000,1.000000,1.000000,0.055000,8.100000,0.184000,0.878000,64.000000,51.000000
max,32242.000000,7.000000,19352.000000,19352.000000,19352.000000,43.39600,7.000000,6.000000,7.000000,242.012000,897.783000,233.290000,12.253000,96.000000,96.000000

In [13]:
def get_json_directory_names():
    path_to_json = 'ipl_2022_data/data'
    return [pos_json for pos_json in os.listdir(path_to_json) if pos_json.endswith('.json')]


def load_json_data_mipl():
    mipl_data = pd.DataFrame(columns=['batsman_name', "batsman_id", "bowler_name", "bowler_id", "delivery_type",
                                      "shot_attacked", "shot_played", "shot_type_additional"])
    json_files = get_json_directory_names()
    #
    # "shotAttacked": "Attacked",
    #             "shotPlayed": "Played",
    #             "shotTypeAdditional": "None"

    for index, js in enumerate(json_files):
        with open(os.path.join('ipl_2022_data/data', js)) as json_file:
            json_text = json.load(json_file)
            batsman_name = json_text['match']['battingTeam']['batsman']['name']
            batsman_id = json_text['match']['battingTeam']['batsman']['id']
            bowler_name = json_text['match']['bowlingTeam']['bowler']['name']
            bowler_id = json_text['match']['bowlingTeam']['bowler']['id']
            delivery_type = json_text['match']['delivery']['deliveryType']
            shot_attacked = json_text['match']['delivery']['shotInformation']['shotAttacked']
            shot_played = json_text['match']['delivery']['shotInformation']['shotAttacked']
            shot_type_additional = json_text['match']['delivery']['shotInformation']['shotAttacked']
            mipl_data.loc[index] = [batsman_name, batsman_id, bowler_name, bowler_id, delivery_type,
                                    shot_attacked, shot_played, shot_type_additional]

    return mipl_data


mipl_json = load_json_data_mipl()
mipl_json.describe()

,batsman_name,batsman_id,bowler_name,bowler_id,delivery_type,shot_attacked,shot_played,shot_type_additional
count,17911,17911,17911,17911,17911,17911,17911,17911
unique,179,180,128,130,3,3,3,3
top,Jos Buttler,12899813945843,PRASIDH KRISHNA,13170326524322,Seam,Attacked,Attacked,Attacked
freq,596,596,432,432,11984,14724,14724,14724

In [15]:
batsman_bowler = mipl_json.pivot_table(columns=['batsman_name', "bowler_name"], aggfunc='size')
batsman_bowler.head()

batsman_name     bowler_name
ABHIJEET TOMAR   JASON HOLDER         6
                 MOHSIN KHAN          2
ABHINAV MANOHAR  AVESH KHAN           4
                 Andre Russell        1
                 BHUVNESHWAR KUMAR    6
dtype: int64

In [16]:
batsman_ball_type = mipl_json.pivot_table(columns=['batsman_name', "delivery_type"], aggfunc='size')
batsman_ball_type.head()

batsman_name     delivery_type
ABHIJEET TOMAR   Seam               8
ABHINAV MANOHAR  Seam              52
                 Spin              27
ABHISHEK SHARMA  Seam             224
                 Spin             105
dtype: int64

In [17]:
batsman_shot_played = mipl_json.pivot_table(columns=['batsman_name', "shot_played"], aggfunc='size')
batsman_shot_played.head()

batsman_name     shot_played
ABHIJEET TOMAR   Attacked        4
                 Defended        3
                 None            1
ABHINAV MANOHAR  Attacked       63
                 Defended       16
dtype: int64